In [1]:
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [4]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',delimiter='\t')

In [5]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [12]:
chipo.loc[:,['item_name','item_price']].sort_values('item_name')

              item_name item_price
3389  6 Pack Soft Drink    $12.98
341   6 Pack Soft Drink     $6.49
1849  6 Pack Soft Drink     $6.49
1860  6 Pack Soft Drink     $6.49
2713  6 Pack Soft Drink     $6.49
3422  6 Pack Soft Drink     $6.49
553   6 Pack Soft Drink     $6.49
1916  6 Pack Soft Drink     $6.49
1922  6 Pack Soft Drink     $6.49
1937  6 Pack Soft Drink     $6.49
3836  6 Pack Soft Drink     $6.49
298   6 Pack Soft Drink     $6.49
1976  6 Pack Soft Drink     $6.49
1167  6 Pack Soft Drink     $6.49
3875  6 Pack Soft Drink     $6.49
1124  6 Pack Soft Drink     $6.49
3886  6 Pack Soft Drink     $6.49
2108  6 Pack Soft Drink     $6.49
3010  6 Pack Soft Drink     $6.49
4535  6 Pack Soft Drink     $6.49
4169  6 Pack Soft Drink     $6.49
4174  6 Pack Soft Drink     $6.49
4527  6 Pack Soft Drink     $6.49
4522  6 Pack Soft Drink     $6.49
3806  6 Pack Soft Drink     $6.49
2389  6 Pack Soft Drink     $6.49
3132  6 Pack Soft Drink     $6.49
3141  6 Pack Soft Drink     $6.49
639   6 Pack Soft Drink     $6.49
1026  6 Pack Soft Drink     $6.49
...                 ...        ...
2996       Veggie Salad     $8.49
3163       Veggie Salad     $8.49
4084       Veggie Salad     $8.49
1694       Veggie Salad     $8.49
2756       Veggie Salad     $8.49
4201  Veggie Salad Bowl    $11.25
1884  Veggie Salad Bowl    $11.25
455   Veggie Salad Bowl    $11.25
3223  Veggie Salad Bowl    $11.25
2223  Veggie Salad Bowl     $8.75
2269  Veggie Salad Bowl     $8.75
4541  Veggie Salad Bowl     $8.75
3293  Veggie Salad Bowl     $8.75
186   Veggie Salad Bowl    $11.25
960   Veggie Salad Bowl     $8.75
1316  Veggie Salad Bowl     $8.75
2156  Veggie Salad Bowl    $11.25
4261  Veggie Salad Bowl    $11.25
295   Veggie Salad Bowl    $11.25
4573  Veggie Salad Bowl     $8.75
2683  Veggie Salad Bowl     $8.75
496   Veggie Salad Bowl    $11.25
4109  Veggie Salad Bowl    $11.25
738   Veggie Soft Tacos    $11.25
3889  Veggie Soft Tacos    $16.98
2384  Veggie Soft Tacos     $8.75
781   Veggie Soft Tacos     $8.75
2851  Veggie Soft Tacos     $8.49
1699  Veggie Soft Tacos    $11.25
1395  Veggie Soft Tacos     $8.49

[4622 rows x 2 columns]

In [21]:
chipo['item_price'] = chipo['item_price'].replace('[\$,]','',regex=True).astype(float)
chipo.loc[:,['quantity','item_price']].sort_values('item_price',ascending=False).head(1)

      quantity  item_price
3598        15       44.25

In [22]:
veggie_bool = chipo['item_name'].str.match('Veggie Salad Bowl')
print(sum(veggie_bool))

18

In [23]:
chipo.loc[:, ['quantity','item_name']][chipo.item_name=='Veggie Salad Bowl']

      quantity          item_name
186          1  Veggie Salad Bowl
295          1  Veggie Salad Bowl
455          1  Veggie Salad Bowl
496          1  Veggie Salad Bowl
960          1  Veggie Salad Bowl
1316         1  Veggie Salad Bowl
1884         1  Veggie Salad Bowl
2156         1  Veggie Salad Bowl
2223         1  Veggie Salad Bowl
2269         1  Veggie Salad Bowl
2683         1  Veggie Salad Bowl
3223         1  Veggie Salad Bowl
3293         1  Veggie Salad Bowl
4109         1  Veggie Salad Bowl
4201         1  Veggie Salad Bowl
4261         1  Veggie Salad Bowl
4541         1  Veggie Salad Bowl
4573         1  Veggie Salad Bowl

In [27]:
chipo[(chipo.item_name=='Canned Soda') & (chipo.quantity>1)].count()

order_id              20
quantity              20
item_name             20
choice_description    20
item_price            20
dtype: int64

** JOOOOOOO**

In [28]:
euro12 = pd.read_csv('https://raw.githubusercontent.com/jokecamp/FootballData/master/Euro%202012/Euro%202012%20stats%20TEAM.csv')

In [33]:
euro12

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18

In [32]:
euro12.Goals

0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

In [35]:
euro12['Team'].count()

16

In [41]:
len(euro12.columns)

35

In [44]:
discipline = euro12.loc[:,['Team','Yellow Cards','Red Cards']]

In [46]:
discipline.sort_values(by=['Red Cards', 'Yellow Cards'], ascending=False)

                   Team  Yellow Cards  Red Cards
6                Greece             9          1
9                Poland             7          1
11  Republic of Ireland             6          1
7                 Italy            16          0
10             Portugal            12          0
13                Spain            11          0
0               Croatia             9          0
1        Czech Republic             7          0
14               Sweden             7          0
4                France             6          0
12               Russia             6          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
2               Denmark             4          0
5               Germany             4          0

In [70]:
euro12['Yellow Cards'].mean()

7.4375

In [73]:
euro12.loc[:,['Team']][euro12.Goals>6]

       Team
5   Germany
13    Spain

In [75]:
euro12[['Team']][euro12.Team.str.startswith('G')]

      Team
5  Germany
6   Greece

In [59]:
euro12.iloc[:,0:7]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked)
0,Croatia,4,13,12,51.9%,16.0%,32
1,Czech Republic,4,13,18,41.9%,12.9%,39
2,Denmark,4,10,10,50.0%,20.0%,27
3,England,5,11,18,50.0%,17.2%,40
4,France,3,22,24,37.9%,6.5%,65
5,Germany,10,32,32,47.8%,15.6%,80
6,Greece,5,8,18,30.7%,19.2%,32
7,Italy,6,34,45,43.0%,7.5%,110
8,Netherlands,2,12,36,25.0%,4.1%,60
9,Poland,2,15,23,39.4%,5.2%,48
10,Portugal,6,22,42,34.3%,9.3%,82
11,Republic of Ireland,1,7,12,36.8%,5.2%,28
12,Russia,5,9,31,22.5%,12.5%,59
13,Spain,12,42,33,55.9%,16.0%,100
14,Sweden,5,17,19,47.2%,13.8%,39
15,Ukraine,2,7,26,21.2%,6.0%,38

In [60]:
euro12.iloc[:,0:-3]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Clean Sheets,Blocks,Goals conceded,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,0,10,3,13,81.3%,41,62,2,9,0
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,1,10,6,9,60.1%,53,73,8,7,0
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,1,10,5,10,66.7%,25,38,8,4,0
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,2,29,3,22,88.1%,43,45,6,5,0
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,1,7,5,6,54.6%,36,51,5,6,0
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,1,11,6,10,62.6%,63,49,12,4,0
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,1,23,7,13,65.1%,67,48,12,9,1
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,2,18,7,20,74.1%,101,89,16,16,0
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,0,9,5,12,70.6%,35,30,3,5,0
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,0,8,3,6,66.7%,48,56,3,7,1
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,2,11,4,10,71.5%,73,90,10,12,0
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,0,23,9,17,65.4%,43,51,11,6,1
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,0,8,3,10,77.0%,34,43,4,6,0
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,5,8,1,15,93.8%,102,83,19,11,0
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,1,12,5,8,61.6%,35,51,7,7,0
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,0,4,4,13,76.5%,48,31,4,5,0

In [69]:
euro12.loc[:,['Team', 'Shooting Accuracy']][euro12['Team'].isin(['England', 'Italy', 'Russia'])]

       Team Shooting Accuracy
3   England             50.0%
7     Italy             43.0%
12   Russia             22.5%

**Fictional Army**

In [76]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
            'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
            'deaths': [523, 52, 25, 616, 43, 234, 523, 62, 62, 73, 37, 35],
            'battles': [5, 42, 2, 2, 4, 7, 8, 3, 4, 7, 8, 9],
            'size': [1045, 957, 1099, 1400, 1592, 1006, 987, 849, 973, 1005, 1099, 1523],
            'veterans': [1, 5, 62, 26, 73, 37, 949, 48, 48, 435, 63, 345],
            'readiness': [1, 2, 3, 3, 2, 1, 2, 3, 2, 1, 2, 3],
            'armored': [1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1],
            'deserters': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
            'origin': ['Arizona', 'California', 'Texas', 'Florida', 'Maine', 'Iowa', 'Alaska', 'Washington', 'Oregon', 'Wyoming', 'Louisana', 'Georgia']}

In [85]:
army = pd.DataFrame(raw_data,).set_index('origin')

In [82]:
army.head()

,armored,battles,company,deaths,deserters,readiness,regiment,size,veterans
origin,,,,,,,,,
Arizona,1,5,1st,523,4,1,Nighthawks,1045,1
California,0,42,1st,52,24,2,Nighthawks,957,5
Texas,1,2,2nd,25,31,3,Nighthawks,1099,62
Florida,1,2,2nd,616,2,3,Nighthawks,1400,26
Maine,0,4,1st,43,3,2,Dragoons,1592,73

In [88]:
army.veterans

origin
Arizona         1
California      5
Texas          62
Florida        26
Maine          73
Iowa           37
Alaska        949
Washington     48
Oregon         48
Wyoming       435
Louisana       63
Georgia       345
Name: veterans, dtype: int64

In [89]:
army[['veterans', 'deaths']]

            veterans  deaths
origin
Arizona            1     523
California         5      52
Texas             62      25
Florida           26     616
Maine             73      43
Iowa              37     234
Alaska           949     523
Washington        48      62
Oregon            48      62
Wyoming          435      73
Louisana          63      37
Georgia          345      35

In [95]:
print(army.columns)

Index(['armored', 'battles', 'company', 'deaths', 'deserters', 'readiness',
       'regiment', 'size', 'veterans'],
      dtype='object')

In [96]:
army.loc[['Maine','Alaska'],['deaths','size','deserters']]

        deaths  size  deserters
origin
Maine       43  1592          3
Alaska     523   987         24